

.max-height{
    min-height: 100vh;
}

body{
    background: url("./img/index.jpeg") center/cover fixed no-repeat;
    color:white;
}

.main-count{
    border:0.3rem solid lightsalmon;
    border-radius: 0.2rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.9);
    height: 500px;

}

#counter{
    color:indigo;
    font-size: 10rem;
}

.cont{
    border:0.1rem solid lightsalmon;
    font-weight: bold;
}

.prevBtn,
.nextBtn{
    background: rgb(195, 228, 8);
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.9);
    color:magenta;
}

.prevBtn:hover {
    background: white;
  }
  .nextBtn:hover {
    background: white;
  }