body{
    background: url("./img/index2.jpg") center/cover fixed no-repeat;
    color:white;
}

.max-height{
    min-height: 100vh;
}




.btn-left{
    font-size: 2rem;
    color:white;
}


.btn-right{
    font-size: 2rem;
    color:white;
}