

body{
    font-family:"Kalam",cursive;
}


.icon-top{
    background: #2a9134;;
}

.icon-top a{
    color:#f1fffa;
    font-size: 30px;
    transition: color 1s ease-in-out 1s;
}

.icon-top a:hover{
    color:#14488b;
    font-size: 40px;
}

.icon-top h5{
    color:#f1fffa;
    font-size: 30px;
}