

@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.container{
    min-height: 100%;
    min-width: 95vw;
    background:rgb(127, 152, 236);
    margin:0 auto;
    display:flex;
}

.entry{
    width: 473px;
    height: 80px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 2px;
    font-size: 1.2rem;
    font-weight: bold;
}

.calc-container{
    width: 520px;
    height: 560px;
    background-color: rgb(105, 39, 50);
    border-radius: 20px;
    padding: 30px;
    margin:1rem .5rem;
    
    
}

.info{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#fff;
}

.info h3{
    display: flex;
    align-self: start;
    font-family: 'Faster One', cursive;
}

.numBut{
    width: 112px;
    height: 59px;
    margin:10px 4px;
    border:none !important;
}


.mathBut{
    width: 112px;
    height: 59px;
    margin:10px 4px;
    border:none !important;
}

.equalBut{
    width: 232px;
    height: 59px;
    margin:10px 4px;
    border:none !important;
}
