
/* milky #c9c1ac */
/* red color #d3325f */


.info{
    background: #e2c272;
}

.info h2{
    word-spacing: 0.6rem;
}

.info a{
    transition: color 2s ease-in-out;
}

.info a:hover{
    color: #0a88f0;
}

body{
    font-family: 'Mr Dafoe', cursive;
}

.primary-color{
    color:#0b2ce4;
}