@import url("https://fonts.googleapis.com/css?family=Caveat|Mali");

:root {
  --mainDark: #242325;
  --mainGreen: #61e786;
  --mainWhite: #fff;
  --mainGrey: #eeeeee;
  --mainPink:#eb0250;
  --mainYellow:#ebbc02;
}
body {
  font-family: "Mali", cursive;
  background: var(--mainWhite);
  color: var(--mainDark);
}

/* global */
.text-green{
    color:var(--mainGreen);
}

.green__btn{
    color:var(--mainGreen);
    border:0.1rem solid var(--mainGreen);
    background: transparent;
}

.green__btn:hover{
    background: var(--mainGreen);
    color:var(--mainWhite);
}

.text-slanted{
    font-family: "Caveat", cursive;
}


/* navbar */

.navbar{
    background: var(--mainDark);
}

.phone-icon{
    color:var(--mainGreen);
    border:0.1rem solid var(--mainGreen);
    padding: 0.5rem;
    border-radius: 50%;
}

/* banner */

.banner-info__footer{
    background: var(--mainDark);
}

.banner-img__footer{
    background: var(--mainGreen);
}
