@import url("https://fonts.googleapis.com/css?family=Caveat|Mali");

:root {
  --mainDark: #242325;
  --mainGreen: #61e786;
  --mainWhite: #fff;
  --mainGrey: #eeeeee;
  --mainPink:#eb0250;
  --mainYellow:#ebbc02;
}
body {
  font-family: "Mali", cursive;
  background: var(--mainWhite);
  color: var(--mainDark);
}

/* global */
.text-green{
    color:var(--mainGreen);
}

.green__btn{
    color:var(--mainGreen);
    border:0.1rem solid var(--mainGreen);
    background: transparent;
}

.green__btn:hover{
    background: var(--mainGreen);
    color:var(--mainWhite);
}

.text-slanted{
    font-family: "Caveat", cursive;
}

.title-underline{
    width:13rem;
    height: 0.3rem;
    margin:0 auto;
    position: relative;
    border-radius: 2rem;
}

.title-underline__center{
    position: absolute;
    height:0.6rem;
    background: var(--mainGreen);
    width: 50%;
    left:50%;
    top:50%;
    border-radius: 3rem;
    transform: translate(-50%,-50%);
}

.blockquote{
    border-left:0.5rem solid var(--mainGreen);
}


/* navbar */

.navbar{
    background: var(--mainDark);
}

.phone-icon{
    color:var(--mainGreen);
    border:0.1rem solid var(--mainGreen);
    padding: 0.5rem;
    border-radius: 50%;
}

/* banner */

.banner-info{
    min-height: calc(100vh - 131px);
    background: var(--mainGrey);
    position:relative;
}

.banner-info__footer{
    background: var(--mainGreen);
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}

.banner-img{
    min-height: calc(100vh - 131px);
    background: url("img/bannerBcg.jpeg") center/cover fixed no-repeat;
    position:relative;

}

.banner-img__footer{
    background: var(--mainDark);
    position:absolute;
    bottom:0;
    left:0;
    height:104px;
    display: flex;
    align-items:center;
}

/* about img */
.img-container{
    position: relative;
}

.featured-icons{
    position: absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    font-size: 2rem;
}

.featured-icon-left{
    background: var(--mainGreen);
    padding:0.5rem;
    color:var(--mainGrey);
    display: inline-block;
}

.featured-icon-right{
    background: var(--mainPink);
    padding:0.5rem;
    color:var(--mainGrey);
    display: inline-block;
}


/* featured */
.featured{
    background: var(--mainGrey);
}


/* subscription section */
.subs{
    background: var(--mainGreen);
    color:var(--mainWhite);
}

.subs-btn{
    background: transparent;
    border:0.17rem solid var(--mainWhite);
    color:var(--mainWhite);
}

.subs-btn:hover{
    background: var(--mainYellow);
    border:0.17rem solid var(--mainWhite);
    color:var(--mainPink);
    font-size: 1.2rem;
}


.services{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("img/bannerBcg.jpeg") center/cover fixed no-repeat;
}

.serivices-info-text{

    color: var(--mainWhite);
    background: var(--mainGreen);
    margin-bottom: 0;
    text-decoration: none; 
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.serivices-info-text:hover{
    background: transparent;
    color:var(--mainDark);
    text-decoration: none;
    font-size: 1.2rem;
}

.service-icon{
    color:var(--mainGreen);
    font-size: 2rem;
    padding: 0.5rem;
    border: 0.1rem solid var(--mainGreen);
    margin-right: 1.1rem;
    transition: all 1s ease-in-out;
}

.service-icon:hover{
    background: var(--mainGreen);
    color:var(--mainYellow);
}

.service-link:hover{
    color:var(--mainWhite);
    text-decoration: none;
    font-size: 1.2rem;
}


/* gallery section */

.gallery-btn:hover{
    background: var(--mainGreen);
    color:var(--mainWhite);
}

.gallery-img-container{
    position: relative;
    transition: all 1s linear;
    overflow: hidden;
}

.gallery-img-container:hover{
    background: rgba(0,0,0,0.7);
}

.gallery-img{
    transition: all 1s linear;
}

.gallery-img-container:hover .gallery-img{
    opacity:0.3;
}

.gallery-info{
    position: absolute;
    bottom:0;
    left:50%;
    transform: translate(-50%,100%);
    background: var(--mainGreen);
    color:var(--mainWhite);
    text-decoration: none;
    transition: all 0.3s linear;
}

.gallery-info:hover{
    text-decoration: none;
    color:var(--mainDark);
    
}

.gallery-img-container:hover .gallery-info{
    transform: translate(-50%,0);
}

.gallery-icon{
    position: absolute;
    top:50%;
    left:50%;
    color:var(--mainWhite);
    font-size: 2rem;
    transform: translate(-50%,-50%);
}